/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
    padding-left: 0;
    margin-left: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET ENDS HERE */


/* ROOT STYLES */

:root {
    --font-color: #0D0D0D;
    --content-background: #F2F2F2;
    --background: #7ABFBF;
    --accent: #EB5428;
    --footer: #fff;

    --main-font: "Bebas Neue", sans-serif;
    --secondary-font: "Montserrat", sans-serif;

}

html {
    background-color: rgba(122, 191, 191, .5);
}

body {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: var(--content-background);
}

h1 { 
    font-family: var(--main-font);
    font-size: 40px;
}

h2 {
    font-family: var(--main-font);
    font-size: 30px;
}

h3 {
    font-family: var(--main-font);
    font-size: 25px;
}

h4 {
    font-family: var(--main-font);
    font-size: 20px;
}

/* I added the h4 because the header doesn't have a nav or menu, and the h3 wasn't small enough. I feel like this is the same concept. */

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    background-color: var(--footer);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

nav {
    width: 100%;
    font-size: 16px;
    font-family: var(--secondary-font);
}

nav a {
    font-size: 20px;
    font-family: var(--main-font);
}

nav span {
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--accent);
    padding: .5em 0;
 
}

#navSearch {
    display: none;
}

.navLink {
    width:
}


#logo  {
    background-color: var(--accent);
    display: grid;
    width: 1fr;
    height: auto;
    place-content: center;
}

#logo svg {
    background-color: var(--accent);
}

#hamburger {
    background-color: var(--footer);
    display: grid;
    place-content: center;
    height: auto;
    text-align: center;
}

#hamburger svg {
    background-color: var(--footer);  
}

#avatar {
    display: grid;
    place-items: center;
    background-color: var(--footer);
    height: auto;
}

#avatar svg {
    background-color: var(--footer);
}


#recipeNav {
    width: 100%;
}

#recipeNav h1 {
    text-align: center;
    padding: .5em;
}

#recipeNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2em;
}

#recipeNav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: var(--main-font);
} 

#recipeNav li a {
    text-decoration: none;
    color: var(--accent);
}


#alterRecipeNav {
    width: 100%;
    display: none;
}

#alterRecipeNav h1 {
    padding: .5em;
}

#alterRecipeNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2em;
}

#alterRecipeNav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: var(--main-font);
} 

#alterRecipeNav li a {
    text-decoration: none;
    color: var(--accent);
}

#search {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

#search button {
    border: none;
    background-color: var(--accent);
}

#search input {
    border: 1px solid var(--accent);
}

#search input svg {
    background-color: var(--accent);
}

#navSearch {
    display: none;
}

#navSearch button {
    border: none;
    background-color: var(--accent);
    padding: .5em;
}

#navSearch input {
    border: 1px solid var(--accent);
}

#navSearch input svg {
    background-color: var(--accent);
}

#social li {
    font-size: 20px;
    font-family: var(--main-font);
}

p {
    font-size: 16px;
    font-family: var(--secondary-font);
    padding: .5em;
    line-height: 1.5em;
}

dd {
    font-size: 16px;
    font-family: var(--secondary-font);
}

dt {
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: bold;
}

li {
    font-size: 16px;
    font-family: var(--secondary-font);
}

ul {
    list-style-type: square;
}

input {
    font-size: 16px;
    font-family: var(--secondary-font);
    padding: .6em 1em;
}

main {
    width: 100%;
}

#recipePic img {
    width: 100%;
    padding: 1em 0;
}

#cookingDetails {
    padding: 1em 0;
    font-family: var(--secondary-font);
}
#cookingDetails h2, #ingredients h2, #directions h2, #sideDishes h2 {
    text-align: center;
    padding-bottom: 1em;
}

table {
    text-align: left;
}

th {
    font-weight: bold;
    padding: .5em;
}

#ingredients {
    font-family: var(--secondary-font);
    line-height: 2em;
}

#items {
    padding: 0 2em;
}

#directions {
    padding: 1em;
}

#directions ol{
    list-style: numbers;
    padding: 1em;
}

#directions ol li {
    padding-bottom: 1.5em;
    line-height: 1.5em;
}

#sideDishes {
    background-color: var(--background);
    padding: 1em;
}

.dish {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1em;
}

.dishImg {
    width: 30%;
}

.dishImg img {
    width: 90%;
}

.dishContent {
    width: 70%;
    padding-left: .5em;
}

.dishContent p {
    padding: 0;
}

.dishContent h3 {
    padding-bottom: .3em;
}

.dishContent p {
   line-height: 2.5em;
   font-size: 12px;
}

span {
    font-weight: bold;
    font-family: var(--secondary-font);
}

.stars {
    padding: .5em 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: var(--main-font);
    background-color: var(--footer);
    padding-top: 1em;
}

#copyright {
    display: flex;
    flex-direction: column;
}

#copyright img {
    width: 35%;
    padding: 1em 0;
    margin: 0 auto;
}

footer p {
    font-size: 16px;
    font-family: var(--main-font);
    text-align: center;
}

#socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.socialLink {
    width: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .5em;
}

.socialLink a {
    color: var(--accent);
    text-decoration: none;
}




@media (min-width: 768px) {
    
    #hamburger {
        display: none;
    }
   
    header {
        grid-template-columns: 1fr 2fr 1fr; 
    }

    #logo {
        grid-column: 1;
        justify-self: start;
        background-color: var(--accent);
        display: flex;
        align-items: center;
    }
 
    #recipeNav {
        display: none; 
    }

    #navSearch {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2;
        width: 100%;
        max-width: 500px; 
        margin: 0 auto;
    }

    #avatar {
        grid-column: 3;
        justify-self: end;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 10px; 
    }

    #alterRecipeNav {
       display: contents;
    }

    #cookingDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #flex {
        display: flex;
    }

    #ingredients {
        width: 40%;
        padding: 1em 0;
    
    }

    #directions {
        width: 60%;
        padding: 1em 0;
    }

    #dishContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    
    #socialLinks {
      width: 70%;
    }
    
    #copyright {
        width: 30%;
    }

    #copyright img {
       width: 75%;
    }
}
